.boox {
  height: 450px;
  width: 50%;
  background-color: paleturquoise;
  margin-top: 150px;
}

.h1-col h3 {
  padding-top: 85px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.inp-pad {
  padding-top: 35px;
}

.inp-pad label {
  color: indigo;
  font-size: 20px;
  margin-left: 80px;
}

.red-span {
  margin-left: 255px;
}

.btn-space {
  margin-left: 386px;
}

.inp-pad button {
  margin-top: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-touched.ng-valid {
  border: 1px solid green;
}
